.fr-header {
    background: url("../assets/header.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}

.fr-heading {
    position: relative;
    left:0; right:0;
    top:30vh; bottom:0;
    margin: auto;
}

.fr-textHeader{
        margin-bottom: 30px;
}

.fr-headingText {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 3em;
}

.fr-section {
    margin-top: 2em;
    text-align: center;
}


.fr-slideshow {

}
.fr-slideImg {
    margin: auto;
    padding-bottom: 10px;
}

.fr-footer{
    margin-top: 4em;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 780px)
{
    .fr-headingText {
        font-size: 7em;
    }
    .fr-textblock {
        font-size: 1.5em;
        text-align: center;
    }
    .fr-textCentered {
        width: 50%;
        margin: auto;
    }
}
