body {
    color: #5a5a5a;
}

#uebersicht {
    margin-left: 20px;
    margin-right: 20px;
}

.fr-header {
    background: url("../assets/header.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.fr-heading {
    position: relative;
    left:0; right:0;
    top:30vh; bottom:0;
    margin: auto;
}

.fr-textHeader {
    margin-bottom: 30px;
    text-align: center;
}

.fr-nonText {
    text-align: center !important;
}

.fr-textCentered {
    text-align: center;
    font-weight: 300;
}

.fr-headingText {
    text-align: center;
    /* FRANZ VORTRAG */
    color: white;
    font-weight: bold;
    font-size: 3em;
}

.fr-section {
    margin-top: 3em;
}

.fr-slideImg {
    margin: auto;
    padding-bottom: 10px;
}

.fr-footer{
    background-color: #212121;
    color: #d7d7d7;
    padding-top: 20px;
}

.fr-footerlink {
    display: block;
    padding-bottom: 10px;
}

.fr-mapIframe {
    height: 300px;
}

.fr-navbar {
    position: absolute;
    width: 100%;
    top: 20px;
    background-color: transparent;
    border: none;
    padding-right: 30px;
}

.navbar-toggle {
    border: none;
    color: white;
}

.navbar-nav {
    font-size: 1.2em;
    font-weight: bold;
}

.fr-navSubpage {
    margin-bottom: 0px;
    padding-left: 30px;
    padding-right: 20px;
}

/* Iframe auto-scroll fix */
.scrolloff {
        pointer-events: none;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


#scrollElement {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -15px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    opacity: 1;
    transition: all 0.2s;
    margin-top: 0;
}

#scrollElement:hover {
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

#fr-imgStack {
	display: none;
}

.fr-slideContainer {
	overflow: auto;
	white-space: nowrap;
}
/* Large devices (tablets, 768px and up) */
@media (min-width: 992px)
{
    .fr-headingText {
        font-size: 7em;
    }
    .fr-textblock {
        font-size: 1.5em;
    }
    .fr-mapIframe {
        height: 600px;
    }
    .fr-textCentered {
      text-align: left;
    }
    .fr-textHeader {
      text-align: left;
    }
	#fr-imgStack {
	display: inline;
	}
	#fr-imgSlide {
	display: none;
	}
}

@media (max-width: 992px)
{
	.fr-hiddenSmall{
		display: none;
	}
}
